<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Froggy Test</title>
  </head>
  <body>
    <div class="main-wrapper">

      <div class="question-wrapper">
        <p id="prompt1" class="question-text1"></p>
        <p id="prompt2" class="question-text2"></p>
      </div>

      <div class="canvas-wrapper">
        <canvas id="frog-canvas" class="frog-canvas" width="1000" height="500">
        </canvas><canvas id="tongue-canvas" class="frog-canvas" width="1000" height="500">
        </canvas><canvas id="eyelid-canvas" class="frog-canvas" width="1000" height="500"></canvas>
      </div>

      <div class="answer-wrapper">
        <div id="answers" class="answer-list"></div>
      </div>

    </div>
  </body>
</html>
