#gallery {
  width: 100%;
  /*height: 230px;*/ /* set in JS */
  overflow: hidden;
  transition: height 0.5s;
  -moz-transition: height 0.5s; /* Firefox 4 */
  -webkit-transition: height 0.5s; /* Safari and Chrome */
  -o-transition: height 0.5s; /* Opera */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  width: 200px;
  height: 150px;
  transition: all .4s ease-in-out;
  margin: 2em .5em;
}

.gallery-item:hover {
  transform: scale(.97);
}


figure img {
  display: block;
  width: 200px;
  height: auto;
  margin: 0 auto;
}

figcaption {
  display: block;
  padding: 2px;
}


.gallery-caption {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

#gallery-btn {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

#wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gallery-modal {
  /*width: 90%;*/

}

.gal-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

#gal-ul > li {
  display: inline-block;
  margin: 5px 30px 10px 0;
  zoom: 1;
  *display:inline; /* for IE7- */
}

#contact-ul > li {
  display: inline-block;
  margin: 5px 50px 10px 0;
  zoom: 1;
  *display:inline; /* for IE7- */
}

.modal-content{
  display: inline-block;
}

.modal-wide .modal-dialog {
  width: 80%;
  overflow: wrapper;
}

#modal-footer {
  text-align: center;
}

#modal-footer > * {
  font-size: 22px;
  margin: 5px 25px;
}
